* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.square {
  width: 200px;
  height: 200px;
  background-color: red;
  transition: all 0.3s ease;
}

.blue {
  background-color: blue;
}

.root {
  margin-top: 20px;
}
button {
  padding: 10px 20px;
}

.btn-block {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}
